.register{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: 100vh;
}
.register h1{
    text-align: center;
}
#register-form{
    gap: 5px;
    width: 60vw;
    color: rgba(0, 0, 0, 0.365);
    background-color:#5e5e5e57;
    backdrop-filter:blur(4px);
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
@media (max-width:999px) {
       #register-form{
        width: 75vw;
        height: 90vh;
       }
       h1{
        font-size: medium;
       }
}
.sign-up-with-google{
    display:flex;
    align-items: center;
    justify-content: center;
}
.sign-up-with-google button{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height: 6vh;
    border-radius: 20px;
    border: none;
  }
  .sign-up-with-google p{
    font-size: 15px;
  }
  
  .sign-up-with-google button:hover{
    cursor: pointer;
    background-color:#3e3e3e;
    color: white;
    transition: 0.9s;
  }
  #register-form p{
          color:white;
  }
  #register-form h1{
    color:white;
}