body {
    font-family: poppins;
      height: 100vh;
      background-color: black;
      user-select: none;
}

html,
body {

    margin: 0;

    padding: 0;
}

.background {

    position:
        absolute;
    
    display:
        block;

    top: 0;

    left: 0;

    z-index: -1;
    background-color: rgb(0, 0, 0);
}