.register{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.register h1{
    text-align: center;
}
#register-form{
    margin: 50px;
}
.sign-up-with-google{
    display:flex;
    align-items: center;
    justify-content: center;
}
.sign-up-with-google button{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    height: 6vh;
    border-radius: 20px;
    border: none;
  }
  .sign-up-with-google p{
    font-size: 15px;
  }
  
  .sign-up-with-google button:hover{
    cursor: pointer;
    background-color:#3e3e3e;
    color: white;
    transition: 0.9s;
  }