.action{
    background-color: #D6E0F0;
    font-weight: bold;
    height:40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.action:hover{
    background-color: rgb(109, 109, 109);
    color:#D6E0F0;
    cursor: pointer;
    transition: 0.4s;
}